body {
  margin: 0; /*marj değeri*/

  padding: 0; /*dolgu malzemesi değeri*/

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; /*font ailesi değeri*/

  -webkit-font-smoothing: antialiased;
  /*font-yumuşatma değeri*/
  -moz-osx-font-smoothing: grayscale;
  /*yazı tipi yumuşatma*/

  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  ); /*arka fon değerleri*/

  text-align: center; /*Metin hizalama değeri*/
}

.app-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 76px;
  color: #0ccac4;
  font-family: "Bigelow Rules";
}
